<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:with="page='register'">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div class="mobile-view">
    <form th:action="@{/user/register_pro}" method="post" th:object="${userJoinBean}"  enctype="multipart/form-data">
    <!--1페이지-->
    <div id="page1" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <a th:href="@{/login}">
                        <i class="fs-4 bi bi-arrow-left cursor-pointer"></i>
                    </a>
                    1/11
                </div>

                <label class="fs-3 pb-3">
                    성별을 알려주세요
                </label>
                <div class="d-flex align-items-center" onclick="manCheck()" >
                    <input class="form-check-input" type="radio" th:field="*{userProfile.gender}"  value="male" id="genderMan">
                    <label class="form-check-label" for="genderMan">
                        <i class="bi bi-square" id="checkBoxMan"></i>
                        <span class="fs-4 ms-4">남성</span>
                    </label>
                </div>
                <div class="d-flex align-items-center mt-3" onclick="womanCheck()">
                    <input class="form-check-input" type="radio" th:field="*{userProfile.gender}" value="female" id="genderWoman">
                    <label class="form-check-label" for="genderWoman">
                        <i class="bi bi-square" id="checkBoxWoman"></i>
                        <span class="fs-4 ms-4">여성</span>
                    </label>
                </div>
            </div>
            <div>
                <button id="button1" type="button" class="btn border w-100" onclick="nextPage(1)" disabled>다음</button>
            </div>
        </div>
    </div>


    <!--2페이지-->
    <div id="page2" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(2)"></i>
                    2/11
                </div>

                <label class="fs-3 pb-3" for="year">
                    생년월일을 알려주세요
                </label>
                <div class="d-flex align-items-center m-auto mt-3">
                    <!-- 년도, 월, 일 selectbox -->
                    <select id="year" th:field="*{userProfile.birthYear}" class="form-select w-auto mb-3" onchange="updateDays()"></select>
                    <select id="month" th:field="*{userProfile.birthMonth}" class="form-select w-auto mb-3 ms-2" onchange="updateDays()"></select>
                    <select id="day" th:field="*{userProfile.birthDay}" class="form-select w-auto mb-3 ms-2"></select>
                </div>
            </div>

            <div>
                <button type="button" class="btn border w-100" onclick="nextPage(2)">다음</button>
            </div>
        </div>
    </div>

    <!--3페이지-->
    <div id="page3" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(3)"></i>
                    3/11
                </div>
                <label class="fs-3 pb-3" for="nickname">
                    닉네임을 알려주세요
                </label>
                <input id="nickname" th:field="*{user.nickname}" type="text" class="fs-3 border-0" placeholder="닉네임" onkeyup="updateNickname()" onkeydown="checkEnterKey(event,3)">
            </div>

            <div>
                <button type="button" id="button3" class="btn border w-100" onclick="nextPage(3)" disabled>다음</button>
            </div>
        </div>
    </div>

    <!--4페이지-->
    <div id="page4" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(4)"></i>
                    4/11
                </div>
                <label class="fs-3 pb-3" for="height">
                    키를 알려주세요
                </label>
                <input id="height" th:field="*{userProfile.height}" type="number" class="fs-3 border-0" placeholder="000cm" onkeyup="updateHeight()" onkeydown="checkEnterKey(event,4)">
                <p id="height-error" class="text-danger"></p>
            </div>

            <div>
                <button type="button" id="button4" class="btn border w-100" onclick="nextPage(4)" disabled>다음</button>
            </div>
        </div>
    </div>

    <!--5페이지-->
    <div id="page5" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(5)"></i>
                    5/11
                </div>
                <label class="fs-3 pb-3" for="weight">
                    몸무게를 알려주세요
                </label>
                <input id="weight" th:field="*{userProfile.weight}" type="number" class="fs-3 border-0" placeholder="000kg" onkeyup="updateWeight()" onkeydown="checkEnterKey(event,5)">
                <p id="weight-error" class="text-danger"></p>
            </div>

            <div>
                <button type="button" id="button5" class="btn border w-100" onclick="nextPage(5)" disabled>다음</button>
            </div>
        </div>
    </div>

        <!--6페이지-->
        <div id="page6" class="page">
            <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(6)"></i>
                        6/11
                    </div>
                    <label class="fs-3 pb-3" for="weight">
                        본인의 사진을 넣어주세요
                    </label>
                    <div class="pictureBox" onclick="document.getElementById('photoInput').click()">
                        <i class="bi bi-plus-circle" id="icon"></i>
                        <img id="photoPreview" src="" alt="사진 미리보기" style="display:none; width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <!-- 파일 입력 (숨기기) -->
                    <input type="file" name="imgFile" id="photoInput" accept="image/*" style="display: none;" onchange="previewImage(event)" >

                </div>
                <div>
                    <button id="button6" type="button" class="btn border w-100" onclick="nextPage(6)">스킵</button>
                </div>
            </div>
        </div>

    <!--7페이지-->
        <div id="page7" class="page">
            <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(7)"></i>
                        7/11
                    </div>
                    <label class="fs-3 pb-3" for="mbti">
                        MBTI를 입력해주세요
                    </label>
                    <select id="mbti" th:field="*{userProfile.mbti}" class="form-select w-auto m-auto">
                        <option value="INFP">INFP</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTP">INTP</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISFP">ISFP</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESTJ">ESTJ</option>
                    </select>

                </div>

                <div>
                    <button type="button" class="btn border w-100" onclick="nextPage(7)">다음</button>
                </div>
            </div>
    </div>


    <!--8페이지-->
    <div id="page8" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(8)"></i>
                    8/11
                </div>
                <label class="fs-3 pb-3" for="religion">
                    종교를 입력해주세요
                </label>
                <select id="religion" th:field="*{userProfile.religion}" class="form-select w-auto m-auto">
                    <option value="무교">무교</option>
                    <option value="기독교">기독교</option>
                    <option value="불교">불교</option>
                    <option value="천주교">천주교</option>
                    <option value="이슬람교">이슬람교</option>
                    <option value="힌두교">힌두교</option>
                    <option value="원불교">원불교</option>
                    <option value="유대교">유대교</option>
                    <option value="시크교">시크교</option>
                    <option value="성공회">성공회</option>
                    <option value="동방정교회">동방정교회</option>
                    <option value="민속 신앙">민속 신앙</option>
                    <option value="기타">기타</option>
                </select>

            </div>

            <div>
                <button type="button" class="btn border w-100" onclick="nextPage(8)">다음</button>
            </div>
        </div>
    </div>


    <!--9페이지-->
    <div id="page9" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(9)"></i>
                    9/11
                </div>
                <label class="fs-3 pb-3">
                    술은 얼마나 드시나요?
                </label>

                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(1)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="아예 안 마심" id="drink1" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink1">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck1">아예 안 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(2)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="가끔 마심" id="drink2" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink2">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck2">가끔 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(3)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="자주 마심" id="drink3" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink3">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck3">자주 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(4)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="매일 마심" id="drink4" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink4">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck4">매일 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(5)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="금주중" id="drink5" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink5">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck5">금주중</span>
                        </label>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="button9" class="btn border w-100" onclick="nextPage(9)" disabled>다음</button>
            </div>
        </div>
    </div>

    <!--10페이지-->
    <div id="page10" class="page">
        <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(10)"></i>
                    10/11
                </div>
                <label class="fs-3 pb-3">
                    흡연량은 어떻게 되시나요?
                </label>

                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(1)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="술 마실 때만" id="smoke1" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke1">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck1">술 마실 때만</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(2)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="흡연" id="smoke2" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke2">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck2">흡연</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(3)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="비흡연" id="smoke3" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke3">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck3">비흡연</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(4)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="전자담배" id="smoke4" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke4">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck4">전자담배</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(5)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="금연" id="smoke5" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke5">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck5">금연</span>
                        </label>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="button10" class="btn border w-100" onclick="nextPage(10)" disabled>다음</button>
            </div>
        </div>
    </div>

        <!--10페이지-->
        <div id="page11" class="page">
            <div class="d-flex flex-column justify-content-between p-4" style="height:100vh;" >
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <i class="fs-4 bi bi-arrow-left cursor-pointer" onclick="prevPage(11)"></i>
                        11/11
                    </div>
                    <label class="fs-3 pb-3" id="hobbyLabel">
                        취미는 어떤게 있으신가요?(0/5)
                    </label>

                    <input style="display: none" id="hobbiesInput" th:field="*{hobbies}">
                    <div class="d-flex flex-row flex-wrap">
                    <div th:each="hobby : ${hobbyList}">
                        <div class="d-flex align-items-center m-2 mb-3" th:onclick="'toggleHobbySelection('+${hobby.id}+')'">
                                <span class="check-hobby border border-info rounded-pill p-2" th:id="'hobbyCheck'+${hobby.id}" th:text="${hobby.name}"></span>
                        </div>
                    </div>
                    </div>


                </div>
                <div>
                    <button id="button11" class="btn border w-100" disabled>완료</button>
                </div>
            </div>
        </div>
        <!--    끝-->
    </form>
</div>

<script>
    const manCheck = () => {
        $("#genderMan").prop("checked", true);
        $("#checkBoxWoman").removeClass("bi-check-square-fill").addClass("bi-square");
        $("#checkBoxMan").removeClass("bi-square").addClass("bi-check-square-fill");
        $("#button1").prop("disabled", false); // 버튼 활성화
    }

    const womanCheck = () => {
        $("#genderWoman").prop("checked", true);
        $("#checkBoxMan").removeClass("bi-check-square-fill").addClass("bi-square");
        $("#checkBoxWoman").removeClass("bi-square").addClass("bi-check-square-fill");
        $("#button1").prop("disabled", false); // 버튼 활성화
    }

    const nextPage = (pageNum) => {
        $("#page" + pageNum).hide();
        $('#page' + (pageNum + 1)).show();
    }

    const prevPage = (pageNum) => {
        $("#page" + pageNum).hide();
        $('#page' + (pageNum - 1)).show();
    }

    // 현재 연도를 가져옴
    const currentYear = new Date().getFullYear();

    //년도 selectbox 만들기
    for (let i = 1970; i <= currentYear; i++) {
        $('#year').append('<option value="' + i + '">' + i + '</option>');
    }

    //월 selectbox 만들기
    for (let i = 1; i <= 12; i++) {
        $('#month').append('<option value="' + i + '">' + i + '</option>');
    }

    //일 selectbox 만들기
    for (let i = 1; i <= 31; i++) {
        $('#day').append('<option value="' + i + '">' + i + '</option>');
    }

    //일 selectbox 만들기
    const updateDays = () => {
        const year = $('#year').val();
        const month = $('#month').val();


        // 윤년 계산: 2월은 29일 또는 28일
        const isLeapYear = (year) => {
            return (year % 4 === 0 && (year % 100 !== 0 || year % 400 === 0));
        };

        let daysInMonth;
        switch (month) {
            case '2': // 2월
                daysInMonth = isLeapYear(year) ? 29 : 28;
                break;
            case '4':
            case '6':
            case '9':
            case '11':
                daysInMonth = 30;
                break;
            default:
                daysInMonth = 31;
        }

        if ($('#day').val() > daysInMonth) {
            $('#day').val(daysInMonth);
        }

        // 일 selectbox에 일수 추가
        for (let i = 1; i <= daysInMonth; i++) {
            $('#day').append('<option value="' + i + '">' + i + '</option>');
        }
    };

    const updateNickname = () => {
        if ($('#nickname').val() != null && $('#nickname').val() !== "") {
            $("#button3").prop("disabled", false); // 버튼 활성화
        } else {
            $("#button3").prop("disabled", true); // 버튼 비활성화
        }
    }

    const updateHeight = () => {
        if ($('#height').val() >=100 && $('#height').val()<=300 ) {
            $("#button4").prop("disabled", false); // 버튼 활성화
            $('#height-error').text("")
        } else {
            $('#height-error').text("키는 100이상 300이하로 입력해주세요")
            $("#button4").prop("disabled", true); // 버튼 비활성화
        }
    }

    const updateWeight = () => {
        if ($('#weight').val() >=30 && $('#weight').val() <=200) {
            $("#button5").prop("disabled", false); // 버튼 활성화
            $('#weight-error').text("")
        } else {
            $('#weight-error').text("무게는 30이상 200이하로 입력해주세요")
            $("#button5").prop("disabled", true); // 버튼 비활성화
        }
    }

    const drinkCheck = (drinkNum) => {
        $("#drink" + drinkNum).prop("checked", true);
        $('.check-drink').removeClass('radioChecked');
        $('#drinkCheck'+drinkNum).addClass('radioChecked');
        $("#button9").prop("disabled", false); // 버튼 활성화
    }

    const smokeCheck = (smokeNum) => {
        $("#smoke" + smokeNum).prop("checked", true);
        $('.check-smoke').removeClass('radioChecked');
        $('#smokeCheck'+smokeNum).addClass('radioChecked');
        $("#button10").prop("disabled", false); // 버튼 활성화
    }

    // 선택된 취미 ID들을 저장할 배열
    let selectedHobbies = [];

    // 취미 선택/해제 함수
    function toggleHobbySelection(hobbyId) {
        const hobbyElement = document.getElementById('hobbyCheck' + hobbyId);

        // 선택 여부에 따라 'check-radio' 클래스를 추가/제거
        if (hobbyElement.classList.contains('radioChecked')) {
            // 이미 선택된 상태이면 선택 해제
            hobbyElement.classList.remove('radioChecked');
            // 선택된 취미 목록에서 해당 취미 ID 제거
            selectedHobbies = selectedHobbies.filter(id => id !== hobbyId);
        } else {
            if(selectedHobbies.length<5)
            {
                // 선택되지 않은 상태이면 선택 추가
                hobbyElement.classList.add('radioChecked');
                // 선택된 취미 목록에 해당 취미 ID 추가
                selectedHobbies.push(hobbyId);
            }
        }

        if(selectedHobbies.length>0){
            $("#button11").prop("disabled", false); // 버튼 활성화
        }
        else{
            $("#button11").prop("disabled", true);
        }
        hobbyLabel.textContent = `취미는 어떤게 있으신가요?(${selectedHobbies.length}/5)`;
        // 선택된 취미 ID들을 콤마로 구분된 문자열로 변환하여 input 필드에 설정
        document.getElementById('hobbiesInput').value = selectedHobbies.join(',');
    }
    const previewImage = (event) => {
        const file = event.target.files[0]; // 업로드된 파일
        if (file) {
            const reader = new FileReader();

            // 파일을 읽은 후에 pictureBox에 이미지 표시
            reader.onload = function(e) {
                const img = document.getElementById('photoPreview');
                img.style.display = 'block'; // 이미지가 보여지도록 설정
                img.src = e.target.result; // 미리보기 이미지 설정

                // 아이콘 숨기기
                const icon = document.getElementById('icon');
                icon.style.display = 'none';
            };

            reader.readAsDataURL(file); // 파일을 DataURL로 읽기
            $('#button6').text('다음');
        }
    };

    const checkEnterKey=(event,number)=>{
        const inputValue = event.target.value;
        if(event.key==='Enter'){
            event.preventDefault();
            if(inputValue != '' ){
                switch(number){
                    case 3:{
                        nextPage(number);
                        $('#height').focus();
                        break;
                    }
                    case 4:{
                        if ($('#height').val() >=100 && $('#height').val()<=300 ) {
                            nextPage(number);
                            $('#weight').focus();
                        }
                        break;
                    }
                    case 5:{
                        if ($('#weight').val() >=20 && $('#weight').val() <=200) {
                            nextPage(number);
                        }
                    }
                }
            }
        }
    }

    updateDays();
</script>
</body>
</html>
