<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../style.css" />
    <style>
        input[type="radio"] {
            display: none;
        }

        label, i {
            cursor: pointer;
        }

        .form-check-label i {
            font-size: 1.5rem;
            color: #4285F4;
        }
        .page{
            display: none;
        }

        #page1{
            display: block;
        }

        .radioChecked{
            background-color: #4285F4;
            color:#ffffff;
        }

        .check-radio{
            font-size: 0.8rem;
        }

        .pictureBox{
            width: 80%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #d9d9d9;
            margin: auto;
        }

        .pictureBox:hover{
            cursor: pointer;
        }

    </style>
</head>
<body>
<div class="mobile-view">
    <form th:action="@{/user/register_pro}" method="post" th:object="${userJoinBean}">
        <input type="hidden" th:value="${googleId}" th:field="*{user.googleId}">
        <input type="hidden" th:value="${kakaoId}" th:field="*{user.kakaoId}">
        <input type="hidden" th:value="${naverId}" th:field="*{user.naverId}">
    <!--1페이지-->
    <div id="page1" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <a th:href="@{/main}">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    1/10
                </div>

                <label class="pb-3">
                    성별을 알려주세요
                </label>
                <div class="d-flex align-items-center" onclick="manCheck()">
                    <input class="form-check-input" type="radio" th:field="*{userProfile.gender}"  value="male" id="genderMan">
                    <label class="form-check-label" for="genderMan">
                        <i class="bi bi-square" id="checkBoxMan"></i>
                        <span class="fs-4 ms-4">남성</span>
                    </label>
                </div>
                <div class="d-flex align-items-center mt-3" onclick="womanCheck()">
                    <input class="form-check-input" type="radio" th:field="*{userProfile.gender}" value="female" id="genderWoman">
                    <label class="form-check-label" for="genderWoman">
                        <i class="bi bi-square" id="checkBoxWoman"></i>
                        <span class="fs-4 ms-4">여성</span>
                    </label>
                </div>
            </div>
            <div>
                <button type="button" class="btn border w-100" onclick="nextPage(1)">다음</button>
            </div>
        </div>
    </div>


    <!--2페이지-->
    <div id="page2" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(2)"></i>
                    2/10
                </div>

                <label class="pb-3" for="year">
                    생년월일을 알려주세요
                </label>
                <div class="d-flex align-items-center m-auto mt-3">
                    <!-- 년도, 월, 일 selectbox -->
                    <select id="year" th:field="*{userProfile.birthYear}" class="form-select w-auto mb-3" onchange="updateDays()"></select>
                    <select id="month" th:field="*{userProfile.birthMonth}" class="form-select w-auto mb-3 ms-2" onchange="updateDays()"></select>
                    <select id="day" th:field="*{userProfile.birthDay}" class="form-select w-auto mb-3 ms-2"></select>
                </div>
            </div>

            <div>
                <button type="button" class="btn border w-100" onclick="nextPage(2)">다음</button>
            </div>
        </div>
    </div>

    <!--3페이지-->
    <div id="page3" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(3)"></i>
                    3/10
                </div>
                <label class="pb-3" for="nickname">
                    닉네임을 알려주세요
                </label>
                <input id="nickname" th:field="*{user.nickname}" type="text" class="border-0" placeholder="닉네임" onchange="updateNickname()">
            </div>

            <div>
                <button type="button" id="button3" class="btn border w-100" onclick="nextPage(3)" >다음</button>
            </div>
        </div>
    </div>

    <!--4페이지-->
    <div id="page4" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(4)"></i>
                    4/10
                </div>
                <label class="pb-3" for="height">
                    키를 알려주세요
                </label>
                <input id="height" th:field="*{userProfile.height}" type="number" class="border-0" placeholder="000cm" onchange="updateHeight()">
            </div>

            <div>
                <button type="button" id="button4" class="btn border w-100" onclick="nextPage(4)">다음</button>
            </div>
        </div>
    </div>

    <!--5페이지-->
    <div id="page5" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(5)"></i>
                    5/11
                </div>
                <label class="pb-3" for="weight">
                    몸무게를 알려주세요
                </label>
                <input id="weight" th:field="*{userProfile.weight}" type="number" class="border-0" placeholder="000kg" onchange="updateWeight()">
            </div>

            <div>
                <button type="button" id="button5" class="btn border w-100" onclick="nextPage(5)" >다음</button>
            </div>
        </div>
    </div>


    <!--6페이지-->
        <div id="page6" class="page">
            <div class="d-flex flex-column justify-content-between" style="height: 100%">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-arrow-left" onclick="prevPage(6)"></i>
                        6/10
                    </div>
                    <label class="pb-3" for="weight">
                        MBTI를 입력해주세요
                    </label>
                    <select id="mbti" th:field="*{userProfile.mbti}" class="form-select w-auto m-auto">
                        <option value="INFP">INFP</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTP">INTP</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISFP">ISFP</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESTJ">ESTJ</option>
                    </select>

                </div>

                <div>
                    <button type="button" class="btn border w-100" onclick="nextPage(6)">다음</button>
                </div>
            </div>
    </div>


    <!--7페이지-->
    <div id="page7" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(7)"></i>
                    7/10
                </div>
                <label class="pb-3" for="religion">
                    종교를 입력해주세요
                </label>
                <select id="religion" th:field="*{userProfile.religion}" class="form-select w-auto m-auto">
                    <option value="무교">무교</option>
                    <option value="기독교">기독교</option>
                    <option value="불교">불교</option>
                    <option value="천주교">천주교</option>
                    <option value="이슬람교">이슬람교</option>
                    <option value="힌두교">힌두교</option>
                    <option value="원불교">원불교</option>
                    <option value="유대교">유대교</option>
                    <option value="시크교">시크교</option>
                    <option value="성공회">성공회</option>
                    <option value="동방정교회">동방정교회</option>
                    <option value="민속 신앙">민속 신앙</option>
                    <option value="기타">기타</option>
                </select>

            </div>

            <div>
                <button type="button" class="btn border w-100" onclick="nextPage(7)">다음</button>
            </div>
        </div>
    </div>


    <!--8페이지-->
    <div id="page8" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(8)"></i>
                    8/10
                </div>
                <label class="pb-3">
                    술은 얼마나 드시나요?
                </label>

                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(1)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="none" id="drink1" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink1">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck1">아예 안 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(2)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="social" id="drink2" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink2">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck2">가끔 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(3)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="moderate" id="drink3" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink3">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck3">자주 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(4)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="heavy" id="drink4" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink4">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck4">매일 마심</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="drinkCheck(5)">
                        <input class="form-check-input" type="radio" name="drinking_level" value="none" id="drink5" th:field="*{userProfile.drinkingLevel}">
                        <label class="form-check-label" for="drink5">
                            <span class="check-drink border border-info rounded-pill p-2" id="drinkCheck5">금주중</span>
                        </label>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="button8" class="btn border w-100" onclick="nextPage(8)" disabled>다음</button>
            </div>
        </div>
    </div>

    <!--9페이지-->
    <div id="page9" class="page">
        <div class="d-flex flex-column justify-content-between" style="height: 100%">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <i class="bi bi-arrow-left" onclick="prevPage(9)"></i>
                    9/10
                </div>
                <label class="pb-3">
                    흡연량은 어떻게 되시나요?
                </label>

                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(1)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="social_smoker" id="smoke1" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke1">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck1">술 마실 때만</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(2)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="regular_smoker" id="smoke2" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke2">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck2">흡연</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3 me-5" onclick="smokeCheck(3)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="non_smoker" id="smoke3" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke3">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck3">비흡연</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(4)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="non_smoker" id="smoke4" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke4">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck4">전자담배</span>
                        </label>
                    </div>

                    <div class="d-flex align-items-center m-2 mb-3" onclick="smokeCheck(5)">
                        <input class="form-check-input" type="radio" name="smoking_status" value="non_smoker" id="smoke5" th:field="*{userProfile.smokingStatus}">
                        <label class="form-check-label" for="smoke5">
                            <span class="check-smoke border border-info rounded-pill p-2" id="smokeCheck5">금연</span>
                        </label>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="button9" class="btn border w-100" onclick="nextPage(9)" disabled>다음</button>
            </div>
        </div>
    </div>

        <!--10페이지-->
        <div id="page10" class="page">
            <div class="d-flex flex-column justify-content-between" style="height: 100%">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-arrow-left" onclick="prevPage(10)"></i>
                        10/10
                    </div>
                    <label class="pb-3" id="hobbyLabel">
                        취미는 어떤게 있으신가요?(0/5)
                    </label>

                    <input style="display: none" id="hobbiesInput" th:field="*{hobbies}">
                    <div class="d-flex flex-wrap" th:each="hobby : ${hobbyList}">
                        <div class="d-flex align-items-center" th:onclick="'toggleHobbySelection('+${hobby.id}+')'">
                                <span class="check-hobby border border-info rounded-pill p-2" th:id="'hobbyCheck'+${hobby.id}" th:text="${hobby.name}"></span>
                        </div>
                    </div>


                </div>
                <div>
                    <button id="button10" class="btn border w-100">완료</button>
                </div>
            </div>
        </div>
        <!--    끝-->
    </form>
</div>

<script>
    const manCheck = () => {
        $("#genderMan").prop("checked", true);
        $("#checkBoxWoman").removeClass("bi-check-square-fill").addClass("bi-square");
        $("#checkBoxMan").removeClass("bi-square").addClass("bi-check-square-fill");
    }

    const womanCheck = () => {
        $("#genderWoman").prop("checked", true);
        $("#checkBoxMan").removeClass("bi-check-square-fill").addClass("bi-square");
        $("#checkBoxWoman").removeClass("bi-square").addClass("bi-check-square-fill");
    }

    const nextPage = (pageNum) => {
        $("#page" + pageNum).hide();
        $('#page' + (pageNum + 1)).show();
    }

    const prevPage = (pageNum) => {
        $("#page" + pageNum).hide();
        $('#page' + (pageNum - 1)).show();
    }

    // 현재 연도를 가져옴
    const currentYear = new Date().getFullYear();

    //년도 selectbox 만들기
    for (let i = 1970; i <= currentYear; i++) {
        $('#year').append('<option value="' + i + '">' + i + '</option>');
    }

    //월 selectbox 만들기
    for (let i = 1; i <= 12; i++) {
        $('#month').append('<option value="' + i + '">' + i + '</option>');
    }

    //일 selectbox 만들기
    for (let i = 1; i <= 31; i++) {
        $('#day').append('<option value="' + i + '">' + i + '</option>');
    }

    //일 selectbox 만들기
    const updateDays = () => {
        const year = $('#year').val();
        const month = $('#month').val();


        // 윤년 계산: 2월은 29일 또는 28일
        const isLeapYear = (year) => {
            return (year % 4 === 0 && (year % 100 !== 0 || year % 400 === 0));
        };

        let daysInMonth;
        switch (month) {
            case '2': // 2월
                daysInMonth = isLeapYear(year) ? 29 : 28;
                break;
            case '4':
            case '6':
            case '9':
            case '11':
                daysInMonth = 30;
                break;
            default:
                daysInMonth = 31;
        }

        if ($('#day').val() > daysInMonth) {
            $('#day').val(daysInMonth);
        }

        // 일 selectbox에 일수 추가
        for (let i = 1; i <= daysInMonth; i++) {
            $('#day').append('<option value="' + i + '">' + i + '</option>');
        }
    };

    const updateNickname = () => {
        if ($('#nickname').val() != null && $('#nickname').val() !== "") {
            $("#button3").prop("disabled", false); // 버튼 활성화
        } else {
            $("#button3").prop("disabled", true); // 버튼 비활성화
        }
    }

    const updateHeight = () => {
        if ($('#height').val() != null && $('#height').val() !== "") {
            $("#button4").prop("disabled", false); // 버튼 활성화
        } else {
            $("#button4").prop("disabled", true); // 버튼 비활성화
        }
    }

    const updateWeight = () => {
        if ($('#weight').val() != null && $('#weight').val() !== "") {
            $("#button5").prop("disabled", false); // 버튼 활성화
        } else {
            $("#button5").prop("disabled", true); // 버튼 비활성화
        }
    }

    const drinkCheck = (drinkNum) => {
        $("#drink" + drinkNum).prop("checked", true);
        $('.check-drink').removeClass('radioChecked');
        $('#drinkCheck'+drinkNum).addClass('radioChecked');
        $("#button8").prop("disabled", false); // 버튼 활성화
    }

    const smokeCheck = (smokeNum) => {
        $("#smoke" + smokeNum).prop("checked", true);
        $('.check-smoke').removeClass('radioChecked');
        $('#smokeCheck'+smokeNum).addClass('radioChecked');
        $("#button9").prop("disabled", false); // 버튼 활성화
    }

    // 선택된 취미 ID들을 저장할 배열
    let selectedHobbies = [];

    // 취미 선택/해제 함수
    function toggleHobbySelection(hobbyId) {
        const hobbyElement = document.getElementById('hobbyCheck' + hobbyId);

        // 선택 여부에 따라 'check-radio' 클래스를 추가/제거
        if (hobbyElement.classList.contains('radioChecked')) {
            // 이미 선택된 상태이면 선택 해제
            hobbyElement.classList.remove('radioChecked');
            // 선택된 취미 목록에서 해당 취미 ID 제거
            selectedHobbies = selectedHobbies.filter(id => id !== hobbyId);
        } else {
            if(selectedHobbies.length<5)
            {
                // 선택되지 않은 상태이면 선택 추가
                hobbyElement.classList.add('radioChecked');
                // 선택된 취미 목록에 해당 취미 ID 추가
                selectedHobbies.push(hobbyId);
            }
        }

        if(selectedHobbies.length>0){
            $("#button10").prop("disabled", false); // 버튼 활성화
        }
        else{
            $("#button10").prop("disabled", true);
        }
        hobbyLabel.textContent = `취미는 어떤게 있으신가요?(${selectedHobbies.length}/5)`;
        // 선택된 취미 ID들을 콤마로 구분된 문자열로 변환하여 input 필드에 설정
        document.getElementById('hobbiesInput').value = selectedHobbies.join(',');
    }




    const previewImage = (event) => {
        const file = event.target.files[0]; // 업로드된 파일
        if (file) {
            const reader = new FileReader();

            // 파일을 읽은 후에 pictureBox에 이미지 표시
            reader.onload = function(e) {
                const img = document.getElementById('photoPreview');
                img.style.display = 'block'; // 이미지가 보여지도록 설정
                img.src = e.target.result; // 미리보기 이미지 설정

                // 아이콘 숨기기
                const icon = document.getElementById('icon');
                icon.style.display = 'none';
            };

            reader.readAsDataURL(file); // 파일을 DataURL로 읽기
        }
    };

    updateDays();
</script>
</body>
</html>
