<configuration>

    <!-- 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Spring 관련 패키지 로그 레벨 설정 -->
    <logger name="org.springframework.web" level="WARN"/>  <!-- 이 부분을 WARN 또는 ERROR로 변경 -->
    <logger name="org.springframework" level="INFO"/>

    <!-- Root 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
