body{
    background: #f2f2f2;
    overflow-y: scroll;
    height: 100%;
}

:root {
    --max-width: 600px;
}

.mobile-view {
    display:flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    max-width: var(--max-width);
    min-height: 100%;
    margin: 0 auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.back-view{
    position: relative;
    min-height:100vh;
    background-color: #f8f9fa;
    padding-bottom: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.bottom-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.white-to-black {
    background: radial-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white-to-black:hover {
    cursor: pointer;
    text-shadow: 0 0 10px #007BFF; /* 파란색 섀도우 효과 */
}

.white-to-blue {
    background: radial-gradient(white, #007BFF); /* 더 선명한 파란색 사용 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2); /* 약간 확대 */
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}


.cursor-pointer:hover {
    cursor: pointer;
}

#google-btn:active{
    background-color: #3367D6;
    transform: scale(0.97);
}
#naver-btn:active {
    background-color: #19B300;
    transform: scale(0.97);
}

#kakao-btn:active {
    background-color: #E5D400;
    transform: scale(0.97);
}