<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>모바일 게시판</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
    </style>
</head>
<body>

<div class="mobile-view">
    <div class="back-view">

    </div>
    <div th:replace="fragments/footer.html :: footer">

    </div>
</div>
<script>
    const handleAjax = (number) => {
        $.ajax({
            url: '/ajax',
            type: 'POST',
            data: { num: number },
            success: function(response) {
                alert(response);
            },
            error: function(xhr, status, error) {
                alert('오류 ' + error);
            }
        });
    }
</script>
</body>
</html>
