<html xmlns:th="http://www.thymeleaf.org" lang="kr" th:with="page='login'">
    <head th:replace="~{fragments/header :: head}"></head>
<body>
<div class="mobile-view">
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:150px">
        <div class="d-inline-block p-2 border m-auto rounded mb-3">블라인드 타임</div>
        <img th:src="@{/images/img.png}" class="mb-4" alt="모닥불" width="190" height="190"/>


        <!-- 구글 로그인 버튼 -->
        <a id="google-login-button" href="javascript:googleLogin()">
            <button type="submit" class="btn mb-3" style="background-color: #4285F4; color: white; width: 200px;">구글 로그인</button>
        </a>

        <!-- 네이버 로그인 버튼 -->
        <a id="naver-login-button" href="javascript:naverLogin()">
            <button class="btn mb-3" style="background-color: #1EC800; color: white; width: 200px;">네이버 로그인</button>
        </a>

        <!-- 카카오 로그인 버튼 -->
        <a id="kakao-login-btn" href="javascript:kakaoLogin()">
            <button class="btn mb-3" style="background-color: #FEE500; color: black; width: 200px;">카카오 로그인</button>
        </a>

    </div>
</div>

<script>
    function googleLogin() {
        $.ajax({
            url: '/googleLoginRequest', // 로그인 URL 요청
            type: 'GET',
            dataType: 'json',  // JSON 응답을 받기 위해 설정
            success: function(response) {
                if (response.url) {
                    window.location.href = response.url;  // 응답받은 URL로 이동
                } else {
                    alert("Google 로그인 URL을 받아오지 못했습니다.");
                }
            },
            error: function(xhr, status, error) {
                alert("오류 발생: " + error);
            }
        });
    }


    function kakaoLogin() {
        $.ajax({
            url: '/kakaoLoginRequest', // 로그인 URL 요청
            type: 'GET',
            dataType: 'json',  // JSON 응답을 받기 위해 설정
            success: function(response) {
                if (response.url) {
                    window.location.href = response.url;  // 응답받은 URL로 이동
                } else {
                    alert("Kakao 로그인 URL을 받아오지 못했습니다.");
                }
            },
            error: function(xhr, status, error) {
                alert("오류 발생: " + error);
            }
        });
    }


    function naverLogin() {
        $.ajax({
            url: '/naverLoginRequest', // 로그인 URL 요청
            type: 'GET',
            dataType: 'json',  // JSON 응답을 받기 위해 설정
            success: function(response) {
                if (response.url) {
                    window.location.href = response.url;  // 응답받은 URL로 이동
                } else {
                    alert("Naver 로그인 URL을 받아오지 못했습니다.");
                }
            },
            error: function(xhr, status, error) {
                alert("오류 발생: " + error);
            }
        });
    }
</script>

</body>
</html>
