body{
    background: #f2f2f2;
}

.mobile-view {
    background: #ffffff;
    width: 360px;
    height: 640px;
    margin: 30px auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}
