<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:with="page='boardDetail'">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<!--외부 js에 값 전달용-->
<div id="pageData"
     th:data-user-id="${session.user}"
     th:data-board-id="${board.id}"
     style="display:none;"></div>

<div class="mobile-view">
    <div class="back-view">
        <div class="container">
            <!-- 뒤로가기 -->
            <div class="d-flex align-items-center mb-3">
                <a class="me-2 text-dark" th:href="@{/board/list}">
                    <i class="bi bi-arrow-left fs-4"></i>
                </a>
                <h4 class="m-0">게시판</h4>
            </div>

            <!-- 게시글 -->
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <img alt="프로필" class="profile-img me-2" th:src="@{${image_id_url}}">
                    <div style="">
                        <strong th:text="${board.nickname}">하리보</strong>
                        <div class="dropdown">
                            <button aria-expanded="false" class="icon-button" data-bs-toggle="dropdown" type="button">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- 작성자만 수정/삭제 버튼이 보이도록 -->
                                <li id="editBtn" th:if="${session.user == board.writer_id}">
                                    <a class="dropdown-item" href="#" onclick="editPost()">
                                        <i class="bi bi-pencil-square"></i> 수정
                                    </a>
                                </li>
                                <!-- 작성자만 수정/삭제 버튼이 보이도록 -->
                                <li id="deleteBtn" th:if="${session.user == board.writer_id}">
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-trash"></i> 삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       data-bs-target="#reportModal"
                                       data-bs-toggle="modal"
                                       href="#">
                                        <i class="bi bi-exclamation-triangle"></i> 신고
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="mb-1" th:text="${board.title}">안녕하세요</p>
                        <small class="text-muted" th:text="${board.content}">안녕하세요! 오늘 가입했어요</small>
                    </div>
                </div>
                <div class="mt-2">
                    <button style="background: none; border: none; padding: 0;">
                        <i id="likeBtn" th:class="${checkLikeExists} ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                    </button>
                    <span id="heartCount" th:text="${board.heart_count}">1</span>
                    <i class="bi bi-chat-dots"></i> <span th:text="${board.comment_count}">1</span>
                    <span class="ms-2 text-muted" th:text="${board.created_at}">25-02-05 16:06</span>
                </div>
            </div>

            <!-- 댓글 리스트로 받아와서 each 함수를 이용하여 출력-->
            <div class="comment-box mt-2" th:each="comment : ${commentList}">
                <div class="d-flex align-items-center">
                    <img alt="프로필" class="profile-img me-2" th:src="@{${comment.image_id_url}}">
                    <div class="comment-container" style="">
                        <strong th:text="${comment.nickname}">치킨</strong>
                        <a href="#" class="delete-icon" th:if="${session.user == comment.writer_id}"
                           th:attr="data-comment-id=${comment.id}">
                            <i class="bi bi-trash"></i>
                        </a>
                        <p class="mb-1" th:text="${comment.content}">안녕하세요!</p>
                        <small class="text-muted" th:text="${comment.created_at}">25-02-05 16:18</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- 댓글 입력창 -->
        <div class="input-box">
            <input id="cmtContent" class="form-control me-2" placeholder="댓글을 달아주세요" type="text">
            <button id="cmtBtn" class="btn btn-primary">전송</button>
        </div>

        <!-- footer.html 포함 -->
        <div th:replace="fragments/footer.html :: footer"></div>

        <!-- 신고 모달 포함 -->
        <div th:replace="fragments/modal.html :: report-modal"></div>

        <!-- 알림 모달 포함 -->
        <div th:replace="fragments/modal.html :: alert-modal"></div>

    </div>
</div>

<!-- detail에서 사용하는 js파일 모음   -->
<script th:src="@{/js/boardDetail.js}" defer></script>
</body>
</html>
