<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>모바일 게시판</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
        input[type="number"] {
            -webkit-appearance: none;  /* Safari, Chrome에서 화살표 제거 */
            -moz-appearance: textfield; /* Firefox에서 화살표 제거 */
            appearance: none;           /* 표준화된 방법으로 화살표 제거 */
            padding: 0;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #purchase {
            border-radius:10px;
            background-color: #dddddd;
            color:#DB4747;
            width:70%
        }
        #purchase:hover{
            cursor: pointer;
        }

        #purchase.disabled{
            color: gray !important;
        }
        #purchase.disabled:hover{
            cursor: default;
        }
    </style>
</head>
<body>

<div class="mobile-view">
    <div class="back-view">
        <div class="p-4">
            <div class="mb-2 d-flex align-items-center">
                <a th:href="@{/myPage}">
                    <i class="fs-4 bi bi-arrow-left"></i>
                </a>
                <div class="ms-1 pt-1">
                    포인트 충전
                </div>
            </div>
            <div class="ms-3">
                <div class="ms-1" style="font-size: 0.9rem;">
                    충전할 포인트
                </div>
                <div class="fs-2 fw-bold border-bottom border-secondary d-flex justify-content-end pe-5">
                    <input id="charge" class="border-0 fw-bold" type="text" value="5000" style="text-align: right" onFocusout="formatInput()" onkeyup="checkEnter(event)" />
                    <div id="formatted-output" class="d-none fs-2 fw-bold" onclick="handleChange(event)">12,345</div> <!-- 출력할 위치 -->
                    <span>P</span>
                </div>
            </div>
            <div class="fs-5 mt-5 d-flex justify-content-center w-100 fw-bold" style="color:saddlebrown">
                충전하기
            </div>
            <div class="d-flex justify-content-end w-100 pe-4" style="color:lightslategray; font-size: 0.9rem">
                충전 비율: 1,000P = 1,000원
            </div>
            <div class="d-flex justify-content-between w-50 ps-3 pe-3 m-auto mt-3">
                <div>보유 포인트</div>
                <div>
                    <span id="current-point" th:text="${point}">0</span><span>P</span>
                </div>
            </div>
            <div class="d-flex justify-content-between w-50 ps-3 pe-3 m-auto pb-5">
                <div>충전 후 포인트</div>
                <div>
                    <span id="after-point">1000</span><span>P</span>
                </div>
            </div>
            <div class="d-flex justify-content-center m-auto w-100 mt-5">
                <div class="d-flex justify-content-center align-items-center p-4 fs-3 text-light" style="border-radius:10px;  width:70%">
                </div>
            </div>
            <div class="d-flex justify-content-center m-auto w-100 mt-3">
                <div class="d-flex justify-content-center align-items-center p-1 fs-3 text-light " id="purchase" style="background-color: #DB4747;">
                    <span id="money"></span>원
                    결제하기
                </div>
            </div>
            <div class="d-flex justify-content-center m-auto w-100">
                <span id="warn" class="fw-bold fs-5 text-danger"></span>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.html :: footer">

    </div>
</div>

<!-- 확인 모달: 변경 확인 -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">결제 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
            </div>
            <div id="confirmMessage" class="modal-body">
                결제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmBtn">네</span></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>


<!-- 확인 모달: 변경 확인 -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">돋보기 충전 완료</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
            </div>
            <div id="successMessage" class="modal-body">
                충전이 완료되었습니다!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<script>
    let currentPoint = $('#current-point').text();
    const $point = $('#current-point');
    const $afterPoint = $('#after-point');
    const $formatOutput = $('#formatted-output');
    const $chargeInput = $('#charge');
    const $money = $('#money');
    const $warn = $('#warn');
    const $purchase = $('#purchase');

    const checkEnter = (event) =>{
        if(event.keyCode === 13){
            $chargeInput.blur();
        }
    }


    const formatInput = () => {
        let value = $chargeInput.val();
        if(value%1000!==0){
            alert("최소 입력단위는 1000입니다")
            $chargeInput.val($formatOutput.text());
            return;
        }
        if (!isNaN(value) && value !== "" && value!=='0') {
            const afterValue = (parseInt(value) + parseInt(currentPoint)).toLocaleString();
            const moneyValue = parseInt(value).toLocaleString();
            value = Number(value).toLocaleString();
            $formatOutput.text(value);
            $afterPoint.text(afterValue);
            $money.text(moneyValue);
        } else {
            $formatOutput.text('0');
            $afterPoint.text(currentPoint);
            $money.text('0');
            $warn.text('최소 결제금액은 100원 입니다.');
            $purchase.toggleClass('disabled',true);
        }
        $formatOutput.toggleClass("d-none");
        $chargeInput.toggleClass("d-none");
    }

    const handleChange = (event) => {
        const inputField = document.getElementById('charge');
        const clickedText = event.target.textContent;

        // 클릭한 위치의 x, y 좌표 얻기
        const x = event.clientX;
        const y = event.clientY;

        // div에서 클릭한 위치에 해당하는 숫자의 인덱스를 계산
        const clickedIndex = getClickedIndex(clickedText, x, y);
        inputField.classList.remove('d-none');
        event.target.classList.add('d-none');

        // 그 인덱스를 사용하여 input에서 포커스 설정
        if (clickedIndex !== -1) {
            setCursorPosition(inputField, clickedIndex);
        }
    }

    const getClickedIndex = (clickedText, x, y) => {
        const range = document.caretRangeFromPoint(x, y);
        const charOffset = range.startOffset;

        const length = clickedText.length;
        let index=0;
        if(length>7){
            if(charOffset <= length-8){
                index=charOffset;
            }
            else if(charOffset <= length-4){
                index=charOffset-1;
            }
            else{
                index=charOffset-2;
            }
        }
        else if(length>3){
            if(charOffset <= length-4){
                index=charOffset;
            }
            else{
                index=charOffset-1;
            }
        }
        else{
            index=charOffset;
        }



        if(charOffset===clickedText.length){
            return charOffset;
        }
        return index;
    }

    const setCursorPosition = (inputField, index) => {
        const inputLength = inputField.value.length;
        // 커서가 위치할 인덱스가 input의 범위 내에 있을 때만 처리
        if (index >= 0 && index <= inputLength) {
            inputField.setSelectionRange(index, index); // 커서 위치 설정
            inputField.focus(); // 포커스 설정
        }
        else{
            inputField.setSelectionRange(inputLength, inputLength);
            inputField.focus();
        }
    }

    $(document).ready(function() {
        formatInput();
        $point.text(parseInt(currentPoint).toLocaleString());
    });

    $purchase.on('click', function() {
        if (!$purchase.prop('disabled')) {
            $('#confirmModal').modal("show");
        }
    });

    $('#confirmBtn').on('click', function() {
        $.ajax({
            url: '/user/charge',
            type: 'POST',
            data: { points: $chargeInput.val() },
            success: function(response) {
                $('#confirmModal').modal("hide");
                $('#successModal').modal("show");
            },
            error: function(xhr, status, error) {
                alert('오류 ' + error);
            }
        });
    })

    $('#successModal').on('hidden.bs.modal', function () {
        window.location.reload();
    });

</script>
</body>
</html>
