<!-- src/main/resources/templates/fragments/footer.html -->
<footer th:fragment="footer" class="mobile-footer" xmlns:th="http://www.thymeleaf.org">
    <style>
        .mobile-footer {
            position: relative;
            z-index: 200;
            width: 100%;
        }

        .height-controller {
            height: 100%; /* 화면 전체 높이에 맞춰 설정 */
        }

        .bottom-nav {
            width: 100%;
            min-width: 320px;
            max-width: var(--max-width);
            margin: 0 auto;
            display: flex;
            gap: 12px;
            padding: 0 16px;
            position: fixed;
            justify-content: space-around;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            border: 1px solid #ccc;
            transform: translateZ(0);
        }


        .nav-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #666;
            font-size: 0.75rem; /* 폰트 크기 축소 */
            transition: color 0.3s ease;
            padding: 0 5px; /* 좌우 패딩 추가 */
        }

        .nav-item:hover,
        .nav-item.active {
            color: #007bff;
        }

        .nav-item i {
            font-size: 1.2rem;
            margin-bottom: 2px;
        }

        @media (max-width: 360px) {
            .nav-item {
                font-size: 0.7rem;
            }

            .nav-item i {
                font-size: 1rem;
            }
        }
    </style>

    <div class="height-controller">
        <div class="bottom-nav">
            <a href="/" class="nav-item" th:href="@{/main}">
                <i class="bi bi-house-door"></i>
                <span>홈</span>
            </a>
            <a href="/chat" class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/chat' ? 'active' : ''}">
                <i class="bi bi-chat"></i>
                <span>채팅</span>
            </a>
            <a href="/board" class="nav-item" th:href="@{/boardList}">
                <i class="bi bi-card-list"></i>
                <span>게시판</span>
            </a>
            <a href="/mypage" class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/mypage' ? 'active' : ''}">
                <i class="bi bi-person"></i>
                <span>마이페이지</span>
            </a>
        </div>
    </div>
</footer>
