<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/csrf.js}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" th:href="@{/manifest.json}">
    <th:block th:if="${page=='map'}">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7abe9ea8f22f24ef4bd818b0c72f8534"></script>
    </th:block>
    <th:block th:if="${page=='chatList'}">
        <script src="https://cdn.jsdelivr.net/sockjs/1.0.2/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    </th:block>
    <th:block th:if="${page=='chatRoom'}">
        <link rel="stylesheet" th:href="@{/css/chat.css}">
        <script src="https://cdn.jsdelivr.net/sockjs/1.0.2/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    </th:block>
    <th:block th:if="${page=='myPage'}">
        <link rel="stylesheet" th:href="@{/css/myPage.css}">
        <link rel="stylesheet" th:href="@{/css/register.css}">
    </th:block>
    <th:block th:if="${page=='boardAdd'}">
        <link rel="stylesheet" th:href="@{/css/boardAdd.css}">
    </th:block>
    <th:block th:if="${page=='boardDetail'}">
        <link rel="stylesheet" th:href="@{/css/boardDetail.css}">
    </th:block>
    <th:block th:if="${page=='board'}">
        <link rel="stylesheet" th:href="@{/css/board.css}">
    </th:block>
    <th:block th:if="${page=='register'}">
        <link rel="stylesheet" th:href="@{/css/register.css}">
    </th:block>

</head>